
<ul class="main-sidenav">
  <!-- <app-top-bar></app-top-bar> -->
  <li><img src="assets/images/logo-side-bar.png" alt="logo" width="100px" height="100px"></li>
    <li class="list my-1">
      <button mat-button class="sidenav-item" >
        <div class="d-flex items-center">
          <mat-icon>extension</mat-icon>
          &nbsp;
          <!-- <span >Logo</span> -->
        </div>
      </button>
    </li>
    <li class="my-1">
      <button mat-button class="sidenav-item" >
        <div class="d-flex items-center">
          <mat-icon>settings</mat-icon>
          &nbsp;
          <!-- <span class="label" >Settings</span> -->
        </div>
      </button>
    </li>
    <li class="my-1">
      <button mat-button class="sidenav-item" >
        <div class="d-flex items-center">
          <mat-icon>cloud_queue</mat-icon>
          &nbsp;
          <!-- <span >Cloud</span> -->
        </div>
      </button>
    </li>
    <li class="my-1">
      <button mat-button class="sidenav-item" >
        <div class="d-flex items-center">
         <mat-icon>repeat</mat-icon>
          &nbsp;
          <!-- <span >Reload</span> -->
        </div>
      </button>
    </li>
    <li class="my-1">
      <button mat-button class="sidenav-item" >
        <div class="d-flex items-center">
          <mat-icon>account_box</mat-icon>
          &nbsp;
          <!-- <span >User</span> -->
        </div>
      </button>
    </li>
    <li class="my-1">
      <button mat-button class="sidenav-item" >
        <div class="d-flex items-center">
          <mat-icon>build</mat-icon>
          &nbsp;
          <!-- <span >Logo</span> -->
        </div>
      </button>
    </li>
    <li class="my-1">
      <button mat-button class="sidenav-item" >
        <div class="d-flex items-center">
          <mat-icon>contact_support</mat-icon>
          &nbsp;
       
          <!-- <span >Ayuda</span> -->
        </div>
        <!-- <p>Ayuda</p> -->
      </button>
    </li>
  </ul>

<!-- <mat-drawer-container class="container-side-bar" autosize ">
 
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <img src="assets/images/logo-side-bar.png" alt="logo" width="100px" height="100px">
    <p *ngIf="showFiller"></p>
    <ul>
      <li class="list">
        <mat-icon>extension</mat-icon>
      </li>
      <li class="list">
        <mat-icon>settings</mat-icon>
      </li>
      <li class="list">
        <mat-icon>cloud_queue</mat-icon>
      </li>
      <li class="list">
        <mat-icon>repeat</mat-icon>
      </li>
      <li class="list">
        <mat-icon>account_box</mat-icon>
      </li>
      <li class="list">
        <mat-icon>build</mat-icon>
      </li>
      <li class="list">
        <mat-icon>contact_support</mat-icon>
      </li>
    </ul>
  </mat-drawer>
 
</mat-drawer-container> -->