<ul class="main-sidenav">
  <li class="d-flex flex-row">
    <!-- <button [ngClass]="showMe ? 'hiddenTrue' : 'hiddenFalse'">hola</button> -->
    <img 
    src="assets/images/logo-side-bar.png" alt="logo" width="100px" height="100px">
    <!-- <img src="../../../../assets/images/logo-footer.png" alt="logo" width="230px" height="70px"> -->
  </li>
  <li class="list my-1">
    <button mat-button class="sidenav-item">
      <div class="d-flex items-center">
        <mat-icon>extension</mat-icon>
        <span>Funciones</span>
      </div>
    </button>
  </li>
  <li class="my-1">
    <button mat-button class="sidenav-item">
      <div class="d-flex items-center">
        <mat-icon>settings</mat-icon>
        <span>Configuración</span>
      </div>
    </button>
  </li>
  <li class="my-1">
    <button mat-button class="sidenav-item">
      <div class="d-flex items-center">
        <mat-icon>cloud_queue</mat-icon>
        <span>Perfiles</span>
      </div>
    </button>
  </li>
  <li class="my-1">
    <button mat-button class="sidenav-item">
      <div class="d-flex items-center">
        <mat-icon>repeat</mat-icon>
        <span>Funciones por rol</span>
      </div>
    </button>
  </li>
  <li class="my-1">
    <button mat-button class="sidenav-item">
      <div class="d-flex items-center">
        <mat-icon>account_box</mat-icon>
        <span>Usuario</span>
      </div>
    </button>
  </li>
  <li class="my-1">
    <button mat-button class="sidenav-item">
      <div class="d-flex items-center">
        <mat-icon>build</mat-icon>
        <span>Roles</span>
      </div>
    </button>
  </li>
  <li class="my-1">
    <button mat-button class="sidenav-item">
      <div class="d-flex items-center">
        <mat-icon>contact_support</mat-icon>
        <span>Ayuda</span>
      </div>
    </button>
  </li>
</ul>