.list {
  margin-top: 30px;
  list-style: none !important;
  color: #707070;
}

ul {
  padding-left: 0px;
  margin-bottom: 0px;
}

.mat-icon {
  align-self: center;
}

.main-sidenav span {
  position: relative;
  display: block;
  width: 100%;
  text-align: left;
  padding: 0 35px;
  font-style: normal;
  white-space: nowrap;
}

.main-sidenav {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 100%;
  max-width: 100px;
  box-shadow: 10px 10px 30px rgba(174, 174, 192, 0.4);
  height: 100%;
  background-color: #F2F2F2;
  transition: all 0.25s;
  overflow: hidden;
}

.main-sidenav:hover {
  max-width: 280px !important;
}

.sidenav-item {
  width: 100%;
  color: #707070;
  font-size: 16px !important;
  padding-right: 20px !important;
  padding-left: 40px !important;
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* .hideTrue{
  background-color: lawngreen;
}

.hideFalse{
  background-color: lightcoral;
} */