.text-color {
  color: #00339F;
}

.text-color:hover {
  text-decoration: none;
}

.color-gradient {
  background: linear-gradient(to right, #DB301C, #41125D, #241D75, #053CA3, #247AC0, #4F964A);
  color: #ffff;
  height: 50px;
  border-radius: 5px;
}

.color-gradient:hover {
  color: #FFFF;
  background: #00339F;
}

.color-gradient:before {
  transition: .3s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #00339F;
  border-radius: 50%;
}

.color-gradient:hover:before {
  transition: .3s all ease;
  position: absolute;
  top: -1%;
  left: -1%;
  right: -1%;
  bottom: -1%;
  opacity: 1;
  z-index: -1;
  border-radius: 4px;
}

