.text-color{
    color: #00339F;
}

.text-color:hover{
    text-decoration: none;
}

.color-gradient{
    background: linear-gradient(to right, #DB301C, #41125D, #241D75, #053CA3, #247AC0, #4F964A);
    color: #ffff;
    height: 50px;
    border-radius: 5px;
}