table,
.paginator {
  width: 100%;
}

.mat-header-cell {
  color: #00339F;
  background-color: #D7DEFB;
  font-size: 14px;
  line-height: 16px;
  padding-right: 20px;
}

@media (min-width: 1900px) {
  .margin-xl {
    margin-left: 140px;
    margin-right: 100px;
    min-width: 1200px;

  }
}