<div class="container">
    <div class="w-50">
        <p class="text-center mb-2">
            <mat-form-field appearance="outline" class="w-75">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Administrador de comercio">
                <mat-error >Error</mat-error>
            </mat-form-field>
        </p>
        <p class="text-center mb-2">
            <mat-form-field appearance="outline" class="w-75">
                <mat-label>Descripción</mat-label>
                <input matInput placeholder="Administrador de comercio">
                <mat-error >Error</mat-error>
            </mat-form-field>
        </p>
        <mat-form-field appearance="outline">
            <mat-label>Estado</mat-label>
            <mat-select>
                <mat-option value="option">1</mat-option>
                <!-- <mat-option value="option">NIT</mat-option>
                <mat-option value="option">RUC</mat-option> -->
            </mat-select>
        </mat-form-field>
    </div>
</div>
