<div class="container p-4 d-flex flex-column justify-content-center">
    <div class="d-flex flex-row pt-20 justify-content-center mt-5">
        <div class="row align-items-end mx-5" style="min-width: 450px;">
            <p class="text-center mr-4 pb-2">
                ¿Aún no tienes una cuenta?
            </p>
            <p>
                <a routerLink="/">
                    <button mat-stroked-button class="w-100 color-basic">Regístrate
                    </button>
                </a>
            </p>
        </div>
        <div class="col px-4" style="max-width: 520px;">
            <!-- <header class="mb-5 mt-1">
                <img src="assets/images/redeban.png" alt="logo-redeban">
            </header> -->
            <div class="py-3 px-12  bg-white rounded-lg">
                <h3 class="text-left text-color mb-4 pt-5 mx-5 pl-2 font-bold">Inicia Sesión</h3>
                <p class="no-spacing text-center">
                    <mat-form-field appearance="outline" class="mx-5 w-75">
                        <mat-label>Ingresa tu celular, correo o usuario</mat-label>
                        <input matInput placeholder="johndoe@micomercio.com">
                    </mat-form-field>
                </p>
                <p class="text-center">
                    <mat-form-field appearance="outline" class="mx-5 w-75">
                        <mat-label>Ingresa tu clave</mat-label>
                        <input matInput placeholder="Tu contraseña va aquí">
                    </mat-form-field>
                </p>
                <p class="text-center">
                    <a routerLink="/admission">
                        <button mat-stroked-button class="my-3 w-50 color-gradient">Ingresar
                            <!-- <mat-icon matSuffix>keyboard_arrow_right
                            </mat-icon> -->
                        </button>
                    </a>
                </p>
                <p class="text-center mt-3 pb-2">
                    <a routerLink="/recover-pass" class="text-color">Olvidé
                        mi
                        contraseña</a>
                </p>
            </div>
        </div>
    </div>
</div>