<div class="container p-2 justify-content-center">
    <div class="text-center w-1/3 px-4" style="min-width: 500px;">
        <header class="mb-4">
            <img class="size-logo" src="assets/images/redeban.png" alt="logo-redeban">
        </header>
        <div class="mx-auto w-50  pt-5 pb-3 bg-white px-5 rounded-lg">
            <h3 class="text-center text-color pb-3 font-bold">Perfil de ingreso</h3>
            <p class="text-color pb-4 text-center">Por favor seleccione el perfil de ingreso con el cual desea realizar
                transacciones</p>
            <p class="text-center mb-5">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label> Seleccionar perfil </mat-label>
                    <mat-select>
                        <mat-option *ngFor="let user of users" [value]="user.value">
                            {{user.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </p>
            <div class="d-flex flex-row pt-5">
                <p class="mr-8">
                    <a routerLink="/login">
                        <button mat-stroked-button class="w-full color-basic">CANCELAR
                        </button>
                    </a>
                </p>
                <p>
                    <a routerLink="/dashboard/manage-profile">
                        <button mat-stroked-button class="w-full color-gradient">CAMBIAR
                            <!-- <mat-icon matSuffix>keyboard_arrow_right
                            </mat-icon> -->
                        </button>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>