.text-color {
  color: #00339F;
}

.text-color:hover {
  text-decoration: none;
}

.color-basic {
  border-color: #00339F;
  color: #00339F;
  min-width: 196px;
  height: 50px;
  transition: all .2s;
}

/* .color-basic:hover {
  color: #FFFF;
  cursor: pointer;
};

.color-basic:before {
  transition: .5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  border-radius: 50%;
  background-color: #00339F;
}

.color-basic:hover:before {
  transition: .5s all ease;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  z-index: -1;
  border-radius: 4px;
} */

.color-gradient {
  background: linear-gradient(to right, #DB301C, #41125D, #241D75, #053CA3, #247AC0, #4F964A);
  color: #ffff;
  height: 50px;
  min-width: 196px;
  border-radius: 5px;
  margin-left: 33px;
}

/* .color-gradient:hover {
  color: #FFFF;
  background: #00339F;
}

.color-gradient:before {
  transition: .3s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #00339F;
  border-radius: 50%;
}

.color-gradient:hover:before {
  transition: .3s all ease;
  position: absolute;
  top: -1%;
  left: -1%;
  right: -1%;
  bottom: -1%;
  opacity: 1;
  z-index: -1;
  border-radius: 4px;
} */

:host ::ng-deep .mat-form-field-wrapper {
  margin: 0 !important;
  padding: 0;
}
