.text-color{
    color: #00339F;
}

.text-color:hover{
    text-decoration: none;
}

.color-basic{
    border-color: #00339F;
    color: #00339F;
    max-width: 320px;
    min-width: 250px;
    height: 45px;
}

.color-basic:hover{
    background-color: #00339F;
    color: #FFFF;
    transition-duration: .5s;
}

.color-gradient{
    background: linear-gradient(to right, #DB301C, #41125D, #241D75, #053CA3, #247AC0, #4F964A);
    color: #ffff;
    height: 50px;
    border-radius: 5px;
}

.mat-icon{
    display: none;
}

.color-gradient:hover .mat-icon{
    display: inline-block !important;
    transition-duration: .5s !important;
}

:host ::ng-deep .mat-form-field-wrapper{
    margin: .5rem !important;
    padding: 0;
  }

  .no-spacing{
    margin: 0 !important;
  }