<div style="background-color: #F2F2F2; bottom: 0; left: 0; width: 100%;">
    <div class="container d-flex flex-row pt-5 pl-5">
        <div>
            <img src="../../../assets/images/logo-footer.png" alt="logo-footer" width="226" height="70">
            <p style="max-width: 300px; margin-right: 30px; color: #3D3C3C; padding-left: 16px;">33517 W. Gray St.
                Utica, Pennsylvania #57867, Colombia</p>
        </div>
        <div class="item-footer">
            <p>Mapa del Sitio</p>
            <ul>
                <li>Funciones</li>
                <li>Configuración</li>
                <li>Perfiles</li>
                <li>Funciones por rol</li>
                <li>Usuario</li>
                <li>Roles</li>
            </ul>
        </div>
        <div class="item-footer">
            <p>Usuario</p>
            <ul>
                <li>Mi cuenta</li>
                <li>Ayuda</li>
                <li>Cambiar contraseña</li>
            </ul>
        </div>
        <div class="item-footer">
            <p>Síguenos en:</p>
            <ul class="d-flex flex-row">
                <a href="">
                    <li><img src="../../../assets/images/icon/facebook.png" alt=""
                            style="padding: 8px; padding-inline: 12px; margin-right: 16px; border-radius: 30%; background-color: #FFF">
                    </li>
                </a>
                <a href="">
                    <li><img src="../../../assets/images/icon/linkedin.png" alt=""
                            style="padding: 8px; margin-right: 16px; border-radius: 30%; background-color: #FFF"></li>
                </a>
                <a href="">
                    <li><img src="../../../assets/images/icon/youtube.png" alt=""
                            style="padding: 8px; margin-right: 16px; border-radius: 30%; background-color: #FFF"></li>
                </a>
                <a href="">
                    <li><img src="../../../assets/images/icon/twitter.png" alt=""
                            style="padding: 8px; margin-right: 16px; border-radius: 30%; background-color: #FFF"></li>
                </a>
                <a href="">
                    <li><img src="../../../assets/images/icon/instagram2.png" alt=""
                            style="padding: 6px; margin-right: 16px; border-radius: 30%; background-color: #FFF"></li>
                </a>
            </ul>
            <button mat-raised-button>
                <mat-icon>stay_primary_portrait</mat-icon>Descarga Nuestra App
            </button>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="container mt-3 pl-5">
        <div class="clearfix">
            <p class="float-left">©2021 Redeban Multicolor S.A. Todos los derechos reservados</p>
            <p class="float-right "> Políticas de Privacidad - Términos y Condiciones </p>
        </div>
    </div>
</div>