.container-footer {
  background-color: #F2F2F2;
  bottom: 0;
  left: 0;
  width: 100%;
}

div .firts-p {
  max-width: 300px;
  margin-right: 30px;
  color: #3D3C3C;
  padding-left: 16px;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
}

div p {
  color: #707070;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Roboto';
  font-weight: 600;
  font-style: normal;
}

div section p {
  color: #7B7B7B;
  font-size: 11px;
  line-height: 12px;
  font-family: 'Roboto';
  font-weight: 600;
  font-style: normal;
}

.mat-raised-button {
  color: #00339F;
  width: 250px;
  background-color: #F2F2F2;
}

li {
  list-style: none;
  line-height: 16px;
  font-size: 13px;
}

li img {
  padding: 8px;
  margin-right: 16px;
  border-radius: 30%;
  background-color: #FFF
}

ul {
  padding-left: 0px !important;
}

.item-footer {
  margin-inline: 30px;
}

@media (min-width: 1900px) {
  .margin-xl {
    margin-left: 70px;
    margin-right: 70px;
  }
}