li{
    list-style: none;
    line-height: 16px;
    font-size: 14px;
}

ul{
    padding-left: 0px !important;
}

.item-footer{
    margin-inline: 30px;
}

@media (min-width: 1900px) {
    .margin-xl{
    margin-left: 70px;
    margin-right: 70px;
  }
   }