<div class="container-footer">
    <div class="margin-xl px-5 d-flex flex-row pt-5">
        <div>
            <img src="assets/images/logo-footer.png" alt="logo-footer" width="226" height="70">
            <p class="firts-p">33517 W. Gray St.
                Utica, Pennsylvania #57867, Colombia</p>
        </div>
        <div class="item-footer ml-auto">
            <p>Mapa del Sitio</p>
            <ul>
                <li>Funciones</li>
                <li>Configuración</li>
                <li>Perfiles</li>
                <li>Funciones por rol</li>
                <li>Usuario</li>
                <li>Roles</li>
            </ul>
        </div>
        <div class="item-footer">
            <p>Usuario</p>
            <ul>
                <li>Mi cuenta</li>
                <li>Ayuda</li>
                <li>Cambiar contraseña</li>
            </ul>
        </div>
        <div class="item-footer">
            <p>Síguenos en:</p>
            <ul class="d-flex flex-row">
                <a href="">
                    <li><img style="padding-inline: 12px;" src="assets/images/icon/facebook.png" alt="logo-facebook">
                    </li>
                </a>
                <a href="">
                    <li><img src="assets/images/icon/linkedin.png" alt="logo-linkedin"></li>
                </a>
                <a href="">
                    <li><img src="assets/images/icon/youtube.png" alt="logo-youtube"></li>
                </a>
                <a href="">
                    <li><img src="assets/images/icon/twitter.png" alt="logo-twitter"></li>
                </a>
                <a href="">
                    <li><img style="padding: 6px;" src="assets/images/icon/instagram2.png" alt="logo-instagram"></li>
                </a>
            </ul>
            <button mat-raised-button>
                <mat-icon class="mr-3">stay_primary_portrait</mat-icon>Descarga Nuestra App
            </button>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="margin-xl px-5 mt-3">
        <section class="clearfix">
            <p class="float-left">©2021 Redeban Multicolor S.A. Todos los derechos reservados</p>
            <p class="float-right "> Políticas de Privacidad - Términos y Condiciones </p>
        </section>
    </div>
</div>