.text-color {
  color: #1B54CE;
}

.user-avatar {
  @apply block;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  object-position: center;
  background-color: #D2E1FF;
}

.top-bar {
  background: #F9FBFC;
  box-shadow: 10px 10px 30px rgba(174, 174, 192, 0.4);
  /* position: fixed; */
  /* left: 0; */
  /* width: 100%; */
}

.parrafo {
  max-width: 220px;
  font-size: 14px;
  margin-bottom: 0px;
}

.mat-button {
  white-space: pre-wrap;
  line-height: 17px;
  background-color: #D2E1FF;
  border-radius: 12px;
  padding: 6px 2px;
}


a:hover {
  text-decoration: none !important;
}

::ng-deep .customize{
  min-width: 338px !important;
}

@media (min-width: 1900px) {
  .margin-xl{
  margin-left: 70px;
  margin-right: 70px;
}
 }
