<header class="top-bar py-3">
    <div class="container">
        <div class="d-flex flex-row">
            <div *ngIf="showBackBtn" class="d-flex flex-row">
                <a routerLink="/login" class="block mt-2 mx-2 d-flex flex-row">
                    <button mat-icon-button class="mt-1 text-secondary">
                        <mat-icon>arrow_back_ios</mat-icon>
                    </button>
                    <h4 class="text-secondary mt-2 font-weight-normal">Inicio</h4>
                </a>
                
            </div>
            <div class="ml-auto d-flex flex-wrap">
                <button class="d-flex flex-wrap" mat-button [matMenuTriggerFor]="userMenu">
                    <div class="d-flex items-center py-1 px-2 bg-primary-200 rounded-lg">
                        <img class="user-avatar mr-2"
                            src="https://images.pexels.com/photos/2726111/pexels-photo-2726111.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                            <p class="parrafo text-color text-left ml-3">
                                <strong>El Comercio de Siempre</strong>
                            910203040 - Terminal 003
                            Luis Fernanda Martinez Gutierrez</p>
                        <mat-icon class="text-color">arrow_drop_down</mat-icon>
                    </div>
                </button>
                
                <mat-menu #userMenu="matMenu" class="customize">
                    <button mat-menu-item>
                        <mat-icon>account_circle </mat-icon>
                        Mi Cuenta
                    </button>
                    <button mat-menu-item>
                        <mat-icon>vpn_key</mat-icon>
                        Cambiar Contraseña
                    </button>
                    <a routerLink="/login">
                        <button mat-menu-item>
                            <mat-icon>power_settings_new</mat-icon>
                            Cerrar Sesión
                        </button></a>
                </mat-menu>
            </div>
        </div>
    </div>
</header>