<div style="padding: 2rem 0">
    <div class="charts-top-bar">
        <!-- <div class="charts-top-bar lg:w-[700px]"> -->
            <div class="charts-top-bar-card" [ngClass]="{'charts-top-bar-card--darken': chartType === 'amount'}"
                style="--max-width: 300px">
                <h5 class="charts-top-bar-card__title">
                    Total monto
                </h5>
                <span class="charts-top-bar-card__value">
                    $ 11,850,656.35
                </span>
            </div>
            <div class="charts-top-bar-card" [ngClass]="{'charts-top-bar-card--darken': chartType === 'quantity'}"
                style="--max-width: 220px">
                <h5 class="charts-top-bar-card__title">
                    Total cantidad
                </h5>
                <span class="charts-top-bar-card__value">
                    46,656
                </span>
            </div>
            <div class="charts-top-bar-card" style="--max-width: 90px">
                <mat-slide-toggle [checked]="currentDay" (change)="currentDayChange($event)">
                    Incluir el día actual
                </mat-slide-toggle>
            </div>
        <!-- </div> -->
        <mat-form-field appearance="fill" style="margin-left: auto">
            <mat-select [(value)]="chartType" (selectionChange)="chartTypeChange($event); ">
                <mat-option value="amount" matTooltip="Info about the action" [matTooltipShowDelay]="showDelay"
                    matTooltipPosition="right">
                    Valor en Ventas
                </mat-option>
                <mat-option value="quantity" matTooltip="Info about the action" [matTooltipShowDelay]="showDelay"
                    matTooltipPosition="right">
                    Cantidad de Ventas
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="charts-content" *ngIf="loader">
        <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 
        'width': '550px',
        'border-radius': '5px',
        'display': 'flex',
        'justify-content': 'center',
        'margin-inline': 'auto'
      }"></ngx-skeleton-loader>
        <ngx-skeleton-loader count="5" appearance="line" [theme]="{ 
        'width': '95%',
        'height': '70px',
        'border-radius': '5px',
        'display': 'flex',
        'justify-content': 'center',
        'margin-inline': 'auto'
      }"></ngx-skeleton-loader>
        <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 
        'width': '250px',
        'border-radius': '5px',
        'display': 'flex',
        'justify-content': 'center',
        'margin-inline': 'auto'
      }"></ngx-skeleton-loader>
    </div>

    <div class="charts-content" *ngIf="!loader">
        <p class="charts-content__title">
            {{ chartType === 'quantity' ? 'Cantidad' : 'Monto' }} - Ingreso de los últimos 7 días, desde 8/01/22 -
            06/02/22
        </p>
        <app-bar-chart [barChartData]="barChartData" [barChartLabels]="barChartLabels"
            [barChartOptions]="barChartOptions" [barChartLegend]="barChartLegend" [height]="height">
        </app-bar-chart>
        <p *ngIf="chartType === 'amount'" class="charts-content__notes">
            *Valores aproximados en millones de pesos
        </p>
    </div>

    <div class="charts-footer">
        <a routerLink="/">
            <button mat-raised-button mat-button color="primary">
                Ver Listado de Transacciones
            </button>
        </a>
    </div>
</div>